<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Delete Question</title>
</head>
<body>
   <header>
      <h1>Delete Question from the Database</h1>
      <a href="/" class="home-icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M12 2L0 12h3v10h18v-10h3"></path>
        </svg>
    </a>
  </header>
    <form action="/delete_question_from_db" method="POST">
        <h2>Fill in the details</h2>
        
        <label for="id">Question ID:</label>
        <input type="text" name="id" placeholder="Check the records to find the Question ID" required pattern="[0-9]+"/><br />
        <input type="submit" value="Submit" /><br />
    </form>
</body>
</html>

