<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Quiz Game</title>
</head>
<body>
    <header>
        <h1>Quiz Game</h1>
        <a href="/" class="home-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M12 2L0 12h3v10h18v-10h3"></path>
            </svg>
        </a>
    </header>
    <form action="/game_start" method="POST">
        <h2>Choose your options</h2>

        <label for="num_questions">Number of Questions:</label>
        <input type="text" name="num_questions" id="num_questions" min="1" pattern="[0-9]+" placeholder="No. of questions you like to answer" required>

        <label for="category">Choose a Category:</label>
        <select name="category" required>
            <option value="" disabled selected>Select a Category</option>
            {% for category in categories %}
            <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
        </select>

        <button type="submit">Start Game</button>
    </form>
</body>

</html>
