<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Generate API URL</title>
</head>


<body>
    <header>
        <h1>Generate API URL</h1>
        <a href="/" class="home-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M12 2L0 12h3v10h18v-10h3"></path>
            </svg>
        </a>
    </header>

    <form action="{{ url_for('generate_url') }}" method="GET" id="url-form">
        <h2>Choose your options</h2>
        <label for="category">Choose a Category:</label>
        <select name="category">
            <option value="" selected>Select a Category</option>
            {% for category in categories %}
            <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
        </select><br />

        <label for="count">Enter the Questions Count:</label>
        <input type="text" id="count" name="count" placeholder="Enter count" pattern="[0-9]+"><br>

        <input type="submit" value="Generate URL">
    </form>

    <div id="generated-url" style="display: none;">
        <center>        
            <h3>Generated API URL:</h3>
            <p id="generated-url-content"></p>
            <button id="copy-button" onclick="copyToClipboard()">Copy URL</button>
        </center>

    </div>

    {% if generated_url %}
    <script>
        document.getElementById("url-form").style.display = "none";
        document.getElementById("generated-url").style.display = "block";
        var generatedUrl = "{{ generated_url }}";
        var unescapedUrl = generatedUrl.replace(/&amp;/g, '&');
        document.getElementById("generated-url-content").textContent = unescapedUrl;
        document.getElementById("copy-button").style.display = "block";

        function copyToClipboard() {
            var copyText = document.getElementById("generated-url-content");
            var textArea = document.createElement("textarea");
            textArea.value = copyText.textContent;
            document.body.appendChild(textArea);
            textArea.select();
            document.execCommand('copy');
            document.body.removeChild(textArea);
            alert("URL copied to clipboard!");
        }
    </script>
    {% endif %}
</body>

</html>
